services:
  frontend:
    build: frontend
    ports:
      - "8501:8501"
    environment:
      - PORT=8501
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    networks:
      - app
    container_name: frontend

  backend:
    build: backend
    ports:
      - 8080:8080
    volumes:
      - ./backend:/main
    networks:
      - app
    container_name: backend

networks:
  app:
    driver: bridge

